.container * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.profile-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f5f6fa;
}

.title {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.form_bnt, .form_input {
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    max-width: 500px;
    margin-bottom: 5px;
}

.input-label {
    font-weight: bold;
}

/* Inputs */
.container input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

/* Button */
input.submit {
    background-color: #a52a2a;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover,
input[type="submit"]:hover {
    background-color: #800020;
}

/* Disabled button */
button:disabled,
input[type="submit"]:disabled {
    background-color: #ffb9b9;
    cursor: not-allowed;
}

/* Error / Success messages */
p.error {
    color: red;
    font-weight: bold;
    text-align: center;
}

p.success {
    color: green;
    font-weight: bold;
    text-align: center;
}

span#error, span#success {
    font-weight: bold;
}

span#mismatch {
    font-size: 0.85em; /* chữ nhỏ hơn */
    font-style: italic; /* tuỳ chọn: in nghiêng cho mềm mại hơn */
}

/* Container chính */
.container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto; /* căn ngang */
    padding: 20px;
    background-color: #fff;          /* nền trắng */
    border-radius: 10px;             /* bo tròn */
    box-shadow: 0 4px 15px rgba(0,0,0,0.2); /* bóng mờ xung quanh */
}

/* User info container */
.user-info {
    width: 100%;
    margin-bottom: 20px;
}

/* Dòng thông tin label/value */
.info-row {
    display: flex;
    justify-content: space-between; /* label bên trái, value bên phải */
    padding: 8px 0;
    margin-bottom: 15px;
    border-bottom: 1px solid #dfdfdf;
}

/* Label */
.label {
    font-weight: bold;
    color: #2c3e50;
}

/* Value */
.value {
    color: #7D7D7DFF;
    font-weight: 600
}

#email {
    color: #7D7D7DFF;
    font-weight: 600;
    font-size: 14px;
}

.input-value {
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 14px;
}

.warning {
    color: red;
    display: none; /* ban đầu ẩn */
    font-size: 0.85em; /* chữ nhỏ hơn */
    font-style: italic; /* tuỳ chọn: in nghiêng cho mềm mại hơn */
    margin-top: 0;
}

.toast {
    position: fixed;
    top: 20px;
    right: 20px;
    background: #4CAF50;
    color: white;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.2);
    opacity: 0;
    transform: translateX(100%);
    transition: all 0.5s ease;
    z-index: 9999;
}

.toast-error  {
    position: fixed;
    top: 20px;
    right: 20px;
    background: #c82222;
    color: white;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.2);
    opacity: 0;
    transform: translateX(100%);
    transition: all 0.5s ease;
    z-index: 9999;
}
.toast-erol.show .toast.show {
    opacity: 1;
    transform: translateX(0);
}